<!DOCTYPE html>
<html>
<head>
    <title>{{company_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        #banner {
            height: 380px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <img class="img-fluid" id="banner" src="/static/3.jpg">
    <div class="container">
        <h2 class="text-right"></h2>
        <div class="row" style="margin-bottom:16px;">
            <div class="col-md-5">
                <img src="/static/driver.jpg" class="img-fluid rounded">        
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <p class="lead">
                    At Los Niños Flash, we understand the importance of your child's safety and your need for convenience. Say goodbye to the stress of rushing to the bus stop and worrying about your child's well-being during their commute. We are here to provide a reliable and personalized transportation solution that brings peace of mind to parents.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom:16px;">
            <div class="col-md-7 d-flex align-items-center">
                <p class="lead">
                    Our mission is simple - to offer secure and comfortable transportation options for your children, right to your doorstep. Imagine the joy on your child's face as they step out of our vehicles, arriving safely home without the hassle of long walks or crowded bus stops.
                </p>
            </div>
            <div class="col-md-5">
                <img src="/static/kids.jpg" class="img-fluid rounded">
            </div>
        </div>

        <div class="row" style="margin-bottom:16px;">
            <div class="col-md-5">
                <img src="/static/parent.jpg" class="img-fluid rounded">        
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <p class="lead">
                    Your child's safety is our top priority. Our dedicated team of drivers undergoes thorough background checks, and our vehicles are equipped with the latest safety features. Convenience Redefined: We redefine convenience by ensuring your child is picked up and dropped off directly at your doorstep. No more worrying about missed buses or long walks after a tiring school day
                </p>
            </div>
        </div>

        <div class="text-center">
            <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
