<nav class="container-fluid fixed-top" style="background-color: rgb(60, 60, 64);">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2">About</a></li>
        <li class="nav-item"><a href="mailto:chino287a?subject=Quote&body=Please%20provide%20the%20following%20information%3A%0D%0A%0D%0AName%3A%0D%0A%0D%0AAddress%3A%0D%0A%0D%0ANumber%20of%20Kids%3A%0D%0A%0D%0AName%20of%20School%3A%0D%0A%0D%0AWe%20will%20contact%20you%20shortly%20with%20a%20quote%3A%0D%0A%0D%0AIf%20you%20would%20like%20to%20talk%20to%20us%20feel%20free%20to%20reach%20us%20at%20239-992-0137" class="nav-link active" aria-current="page">Contact Us</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <div class="b-example-divider" style="margin-bottom: 16px;"></div>